/*general utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}


/* intestazione home*/
.header-page {
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;

}

#logo{
    vertical-align: middle;
}

.title-logo {
  display: inline;
  font-weight: bolder;
  font-size: 50px;
  vertical-align: middle;
}

.container{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    padding-left: 20px;
}


/*sezione link*/

#link{

    padding: 20px 0 0 20px;
}

.link-item{
    border-radius: 5px;
    text-decoration-line: none;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

#blue{
    background-color: #1e90ff;
    color: white;
}

#white{
    border: 1px solid lightslategrey;
    color: lightslategrey;
}

/*sezione task*/
#task{
    margin: 20px 20px 20px 0;
}

.row-items{
    margin: 25px;
}

.entity{
    width: 20px;
    height: 20px;
    border: 1px solid lightslategray;
    border-radius: 50%;
    display: inline-block;
}

.name-task{
    display: inline;
    font-size: 20px;
}

.link-task{
    border-radius: 20px;
    text-decoration-line: none;
    padding: 10px;
}

.violet{
    background-color: violet;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}

.pink{
    background-color: pink;
    color: white;
}

.orange{
    background-color: orange;
    color:white;
}