/*general utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #78a1b6;
    font-family: 'Roboto', sans-serif;
}

section{
    padding-left: 20px;
}


/* intestazione home*/
.header-page {
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;

}

#logo{
    vertical-align: middle;
}

.title-logo {
  display: inline;
  font-weight: bolder;
  font-size: 50px;
  vertical-align: middle;
}

.container{
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
}

ul{
    list-style-type: none;
}


/*sezione actions*/
#actions{
    padding: 10px 30px;
    border-bottom: 2px solid #78a1b6;
}

.button-item{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
}

#blue{
    background-color: #1e90ff;
    border-color: #1e90ff;
    color: white;
}

#white{
    background-color: white;
    border-color: currentColor;
    color: lightslategrey;
}


/*sezione task*/
#task{
    padding: 20px;
}

.task-status{
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.done{
    color:green;
    border-color: currentColor;
}

.undone{
    color:red;
    border-color: currentColor;
}

.badge-task{
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    vertical-align: middle;
    color: white;
}

.violet{
    background-color: violet;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.orange{
    background-color: orange;
}

.yellowgreen{
    background-color: yellowgreen;
}

.green{
    background-color: green;
}

.task-text{
    vertical-align: middle;
}

.task-item{
    margin: 20px;
}